[submodule "sale_product_document"]
	path = sale_product_document
	url = git@github.com:MobilizeDevTeam/sale_product_document.git
	branch = 16.0
[submodule "mblz_retail"]
	path = mblz_retail
	url = git@github.com:MobilizeDevTeam/mblz_retail.git
	branch = 16.0
